!bin/console
!bin/symfony_requirements
!var/cache/.gitkeep
!var/logs/.gitkeep
*.swp
.DS_Store
/.idea/
/app/config/parameters.yml
/app/cache
/app/coverage
/app/logs
/bin/*
/build/
/composer.lock
/composer.phar
/var/SymfonyRequirements.php
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/vendor/
/web/bundles/
/web/components/
/web/config.php
/web/css/
/web/fonts/
/web/images/
/web/js
/web/router_translator.js
