{% extends "::base.html.twig" %}

{% block body %}
    <h2>List of posts</h2>
<ul>
{%  for  p in posts  %}
    <li> <a href="{{ path('post', {id:p.getId}) }}">
            {{ p.getTitle }}</a> by {{ p.getAuthor.getName }}</li>
{%  endfor %}
</ul>
{% endblock %}