{% extends "::logreg.html.twig" %}


{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData) }}</div>
    {% endif %}

<div class="container">
    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
        <br/>
        <span class="centerForm">
            <button type="submit">login</button>
        </span>
    </form>
</div>
{% endblock %}